ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1480px;
    left: -8px;
    top: -8px;
    overflow: hidden;
    background-color: #179ccc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
  }

  .pfp{
    position: relative;
    border-radius: 50%;
    top: 8px;
    right: -1190px
  }

  .sign{
    position: relative;
    right: -1170px;
  }
  
  li a:hover {
    background-color: #128fbd;
  }

  .intro{
    position: relative;
    top: -60px;
    right: -30px;
    font-size: 70px;
  }

  .summary{
    font-size: 18px;
    display: flex;
    align-content: center;
    width: 500px;
    overflow-wrap: break-word;
  }